


<footer>
    <div>

        <% let year=(new Date()).getFullYear() %>
        <p style="text-align: center;">&copy;<%= year %> Alpha's Corporation codemonk1307. All rights reserved.</p>

    </div>
</footer>

</html>