
body {
  background-color: #c895d4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  color: rgb(0, 0, 0);
  padding: 30px;
  margin-top: auto;
}



.centered {
    padding-top: 100px;
    text-align: center;
}


.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}



