
body {
  background-color: #89878a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  color: rgb(0, 0, 0);
  padding: 20px;
  margin-top: auto;
}

.centered {
    padding-top: 100px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(12, 12, 12);
  background-color: rgb(248, 248, 248);
}



